@(loginForm: Form[model.LoginFormData])(implicit messages : Messages)
<form id="login-data-form" role="form"  action='@routes.HomeController.authenticate()' method="post" class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="user-fieldset">
     <div class="login-form">
            <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">@messages("page1.title")</label>
        </div>
        <br/>
        
         <table align="center" cellspacing="20">
         <tr>
                <td align="left">
                    <div class="user-form" id="email_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("email")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="email_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="email" id="email" name="email" placeholder="Email" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="lastName_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("password")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="PassWord_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="password" id="PassWord" name="password" value="" placeholder="PassWord" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
           <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Login</button>
        </div>
        <br>
      
 </fieldset>
</form>